body {
    color: white;
}

header {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

header strong {
    color: var(--green);
    font-size: 48px;
}

header button {
    background: var(--green);
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 22px;
}

main {
    width: fill;
    text-align: center;
    margin: 200px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main strong {
    color: var(--gray);
    font-size: 60px;
    font-weight: 500;
}

.time_left {
    width: 1000px;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time_left p {
    color: var(--green);
    font-size: 22px;
    margin: 0;
}

.time_left .time {
    color: #ffffff;
    font-size: 130px;
    margin: 0;
}

@media (max-width: 1000px) {
    header {
        margin: 0;
    }

    .time_left {
        width: 366px;
        flex-wrap: wrap;
    }

    .days, .hours, .minutes, .seconds {
        margin: 16px;
    }
}